@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgba(249, 191, 58, 0.08);
  /* filter: blur(450px); */
  background-repeat: no-repeat;
}

.hero-container{
  background-image: url('../public/bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@layer components {
  .auth-screen-heading {
    @apply font-black text-3xl py-4;
  }
  .auth-screen-heading2 {
    @apply font-bold text-lg;
  }

  .auth-connect-heading {
    @apply text-5xl font-bold leading-loose font-AnonymousPro;
  }


}
