@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
  background: rgba(249, 191, 58, 0.08);
  background-image: url('../public/bg.svg');

  /* filter: blur(450px); */
  background-repeat: no-repeat;
}

.hero-container{

  background-size: cover;
 
  background-repeat: no-repeat;
}
@layer components {
  .auth-screen-heading {
    @apply font-black text-3xl py-4;
  }
  .auth-screen-heading2 {
    @apply font-bold text-lg;
  }

  .auth-connect-heading {
    @apply text-5xl font-bold leading-loose font-AnonymousPro;
  }


}

.wavy {
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: block;

}

.wavy__text {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  color: transparent;
  opacity: 6%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transform: scaleX(2);
}