@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background: rgba(249, 191, 58, 0.08); */
  /* filter: blur(450px); */
  background-repeat: no-repeat;
}

.hero-container{
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-image: url('../public/bg.svg'); */
}
@layer components {
  .auth-screen-heading {
    @apply font-black text-3xl py-4;
  }
  .auth-screen-heading2 {
    @apply font-bold text-lg;
  }

  .auth-connect-heading {
    @apply text-5xl font-bold leading-loose font-AnonymousPro;
  }


}

.background-auth {
  background-image: url('../public//assets//images/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

 .dashboard-container{
  width: 100%;
  padding-bottom: 1em;
  margin-left: 214px !important;
  background: #fff !important;
  margin-top: 6em;
} 

.main{
  padding-bottom: 1em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input::-webkit-calendar-picker-indicator {
  filter: invert(.5);
}

.manCont:hover::before{
  background-color: rgba(0,0,0,0.56458333333333337);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 97%;
  width: 100%;
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  background-image: url('../public/assets/images/edit.svg');
  content: "";
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;

}

.manCont{
  position: relative;
}